<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <title>about</title>
 </head>
        <body>
            
            <div class="main-content">
                {{>header}}

                <p>Use this site to get your weather</p>
            </div>
            <img class='portrait' src="./img/174881906_139772188153337_123412006655699104_n.jpg">
            <p>created by {{name}}</p>
            {{>footer}}
        </body>
        
            
        
   
</html>